@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  margin: 0;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.description{
 margin: auto;
  width: 50%;
text-align:center;
  padding: 10px;
   margin-bottom: 1rem;
}
.survey-form{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 30px;
  font-size: 1.125rem;
}
label {
  font-size: 1.125rem
 margin: auto;
  width: 50%;

  padding: 30px;
 
}
.name-label{
  margin-left:0.5rem;
  display:inline;
  color:grey;
  font-family:sans;

}
.email-label{
  margin-left:0.5rem;
  display:inline;
  color:grey;
  font-family:sans;
}
.number-label{
  margin-left:0.5rem;
   display:inline;
  color:grey;
  font-family:sans;
}
h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

input,
button,
select,
textarea {
  margin: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
button {
  border: none;
}
.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

 .dropdown {
        display: block;
        width: 100%;
        height: 2.375rem;
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      } 
.reccomend{
  text-align:center;
font-size:1.5rem;
}
.improvement{
  text-align:center;
font-size:1.5rem;

}
.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
.submit-button{
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.which{
    text-align: center;
}